*.ini
*.pdf
*.txt
*.ovpn
*.lnk
*.log
C:\Users\Sohan\Desktop\AWS ACCESS DENIED POLICY.txt
C:\Users\Sohan\Desktop\Document Take Away Letter- Sohan.pdf
C:\Users\Sohan\Desktop\desktop.ini
C:\Users\Sohan\Desktop\git\mylogs.log
C:\Users\Sohan\Desktop\Eclipse IDE for Enterprise Java and Web Developers - 2021-12.lnk
C:\Users\Sohan\Desktop\Fake Api.txt
C:\Users\Sohan\Desktop\Microsoft Teams.lnk
C:\Users\Sohan\Desktop\Postman.lnk
C:\Users\Sohan\Desktop\sohanhol__ssl_vpn_config.ovpn
C:\Users\Sohan\Desktop\sqldeveloper - Shortcut.lnk
C:\Users\Sohan\Desktop\Visual Studio Code.lnk